
/* 
h1{
    font-family: 'Poppins', sans-serif;
}

html {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}

header > h1 {
    text-align: center;
}

form {
    max-width: 500px;
    margin: 0 auto;
    border: 2px solid grey;
    padding: 1em;
}

.form-row {
    display: flex;
    justify-content: flex-end;
    padding: 0.5em;
}

.form-row > label {
    width: 100px;
}

.form-row > input,
.form-row > select {
    padding: 0.5em;
    flex-grow: 1;
}

aside {
    grid-area: entrylist;
    padding: 1em;
    overflow-y: scroll;
  }
  */ 

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }
  
  html {
    height: 100%;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    color: #433020;
  }
  
  header {
    height: 70px;
    padding: 1em 0;
    background-image: linear-gradient(120deg, #FFB4B4 0%, #FAEBE3 100%);
    color: #433020;
    box-shadow: 8px 8px 12px #bababa;

  }
  
  header > h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #433020;
  }
  
  h2 {
    margin-bottom: 1em;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    color: #433020;
  }
  
  main {
    height: calc(100vh - 70px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "cakeform entrylist";
  }
  
  main section {
    grid-area: cakeform;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  form {
    margin: 0 auto;
    padding: 1em;
    border-radius: 10px;
    color: #433020;
    font-family: 'Poppins', sans-serif;
    box-shadow: 8px 8px 8px #bababa;
  }

  .form-row {
    display: flex;
    justify-content: flex-end;
    padding: .5em;
    
  }
  
  .form-row > label {
    width: 100px;
  }
  
  .form-row > input,
  .form-row > select {
    padding: .5em;
    flex-grow: 1;
    color: #433020;
    border: 2px solid #FAEBE3;
    border-radius: 30px;
    background: #FAEBE3;
  }
  
  #addCake {
    border-radius: 30px;
    display: block;
    margin: 1em auto;
    padding: 1em 2.5em 1em 2.5em;
    background: #433020;
    border: #433020;
    color: #F8F8F8;
  }
  
#cakeComment {
    width: 400px;
    height: 200px;
    border-radius: 24px;
}   


::placeholder,
option:disabled {
  color: #F2B989;
}

  aside {
    grid-area: entrylist;
    padding: 1em;
    overflow-y: scroll;
    border-radius: 20px;
    margin: 30px;
    background-image: linear-gradient(120deg, #f9f1e4 0%, #f7b0b0 100%);
    box-shadow: 8px 8px 8px #bababa;
  }
  
  #entrylist {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    list-style: none;
    margin-block-start: 0;
    padding: 0;
  }
  
  #entrylist li {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    background-image: linear-gradient(120deg, #ffc3a0 0%, #ffafbd 100%);
  }
  
  #entrylist li p {
    flex-grow: 1;
    margin-left: 10px;
    max-width: 200px;
  }
  #entrylist li span {
    text-align: right;
    flex-grow: 1;
    margin-right: 10px;
    max-width: 200px;
  }
  
  
  #entrylist li button {
    font-size: 15px;
    padding: 1em 1em 1em 1em;
    background: #433020;
    border: #433020;
    color: #F8F8F8;
    border-radius: 30px;
  }
  
  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.4rem;
    width: 900px;
    padding: 1.3rem;
    min-height: 500px;
    position: absolute;
    top: 15%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 15px;
    z-index: 2;
    box-shadow: 8px 8px 12px #5c4e44;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);
    z-index: 1;
  }
 